@font-face {
    font-family: Sea;
    src: url("../font/Seagram.ttf");
}
@font-face {
    font-family: London;
    src: url("../font/OldLondon.ttf");
}
:root{
    --cabelo-r:34;
    --cabelo-g:45;
    --cabelo-b:70;
    --pele-r:63;
    --pele-g:105;
    --pele--b:56;
    --chapeu-r:245;
    --chapeu-g:125;
    --chapeu-b:25;
  --size: 65;
  --unit: calc((var(--size) / 892) * 1vmin);
  --pattern: radial-gradient(rgba(91, 88, 71, 0.6) 10%, rgba(91, 88, 71, 0) 12%),
    radial-gradient(rgba(91, 88, 71, 0.6) 10%, rgba(91, 88, 71, 0) 12%),
    radial-gradient(rgba(91, 88, 71, 0.5) 20%, rgba(91, 88, 71, 0) 22%),
    radial-gradient(rgba(91, 88, 71, 0.5) 20%, rgba(91, 88, 71, 0) 22%);

}

.custom{
    display: none;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 70%;
}
.custom p{
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.custom .titulo{
    font-size: 40px;
    margin-top: 30px;
    font-family: London;
}
.custom .personagem{
    width: 70%;
    height: 100%;
}
.custom .opcoes.show{
  animation: sair_opcoes 1s ease-in-out 0s forwards;
}
@keyframes sair_opcoes {
  0%{
    transform: translateX(0px);
  }
  80%{
    transform: translateX(350px);
  }
  80%{
    transform: translateX(350px);
    opacity: 0;
    width: 0px;
  }
}
.custom .opcoes{
    background-image: url("pano1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
}
.custom .cor{
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    height: auto;
}
.custom .colum{
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.custom input[type="color"]{
    outline: none;
    border: none;
    width: 50px;
    height: 50px;
}
.arquetipo{
    font-size: 15px;
}
.inicio{
    box-shadow: inset 0px 0px 44px black;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("background.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#menu{
    display: flex;
}
.menu{
    box-shadow: 0px 0px 45px black;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin-top: auto;
}
.classes{
    border: 7px double rgb(110, 57, 0);
    box-shadow: inset 0px 0px 145px rgba(204, 201, 0, 0.527);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background: url("descri.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;   
}
.classes .titulo{
    margin-top: 30px;
    font-family: London;
    font-size: 40px;
    width: 80%;
    text-align: center;
}
.classes .lista{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 70%;
    height: 70%;
}
.item img{
    width: 100%;
    height: 80%;
}
.item{
    scale: 0.9;
    margin-left: 30px;
    margin-right: 30px;
    flex-direction: column;
    width: 12%;
    height: 27%;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.item::before{
    opacity: 0;
    z-index: -1;
    background-image: url("./fundo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    content: "";
    display: flex;
    position: absolute;
    width: 120px;
    height: 130px;
}
#show::after{
    opacity: 1;
    z-index: -1;
    background-image: url("./fundo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    content: "";
    display: flex;
    position: absolute;
    width: 120px;
    height: 180px;
}
.item p{
    text-align: center;
}
.item:hover{
    transition: all 0.2s;
    cursor:pointer;
    scale: 1;
}
.item:hover::before, .item:focus-visible:before{
    opacity: 1;
}
.item:hover >p, .item:focus >p{
    color: white;
}
.descri{
    border: 7px double rgb(110, 57, 0);
    box-shadow: inset 0px 0px 145px rgba(204, 201, 0, 0.527);
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url("descri.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.descri .historia{
    width: 90%;
    font-family: London;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.descri p:nth-child(2){
    font-size: 30px;
    font-family: 'London';
    text-align: center;
    width: 90%;
}
.descri p:nth-child(4){
    font-size: 30px;
    font-family: 'London';
}
.descri p:nth-child(3), .descri p:nth-child(4){
    margin-bottom: 20px;
    text-align: center;
    width: 90%;
}
.descri::after{
    transform: rotateZ(90deg);
    content: "";
    background-image: url("borda.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -110px;
    margin-left: -520px;
    width: 150px;
    height: 420px;
    position: absolute;
    z-index: 1;
}
.descri::before{
    transform: rotateZ(90deg) rotateX(180deg);
    content: "";
    background-image: url("borda.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -110px;
    margin-right: -520px;
    width: 150px;
    height: 420px;
    position: absolute;
    z-index: 1;
}
.popup_ok.show{
    display: flex;
}
#mostrar{
  z-index: 10;
  display: flex;
}
.popup_ok{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background: rgba(0, 0, 0, 0.534);
}
.pop{
    padding: 120px;
    width: 700px;
    height: 400px;
    background: url("../img/up.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.pop p:nth-child(1){
    font-size: 50px;
    font-family: London;
    -webkit-text-stroke: 0.5px black;
    color: red;
    text-shadow: inset 0px 0px 12px black;
}
.botoes{
    width: 500px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:700px) {
    .menu{
        margin-top: 500px;
        width: 100%;
    }
    .item{
        height: 17%;
    }
    .classes{
        height: 680px;
    }
    .classes .lista {
        height: 60%;
        width: 80%;
    }
    .descri{
        height: 500px;
    }
    .descri::before{
        margin-top: 6px;
        margin-right: -60%;
        width: 74px;
        height: 20%;
    }
    .descri::after{
        margin-top: 6px;
        margin-left: -60%;
        width: 74px;
        height: 20%;
    }
}
svg:not(:root) {

    overflow: visible;
  }

  .chapeu{
    position: absolute;
    z-index: 12;
    width: 100%;
    margin-top: -75%;
    height: calc(var(--unit) * 645);
  }
  .chapeu path:nth-child(1){
    fill: rgb(calc(var(--chapeu-r)*0.8), calc(var(--chapeu-g)*0.8), calc(var(--chapeu-b)*0.8));
  }
  .chapeu path:nth-child(1),.chapeu path:nth-child(2), .chapeu path:nth-child(3){
    stroke: rgb(calc(var(--chapeu-r)*0.8), calc(var(--chapeu-g)*0.8), calc(var(--chapeu-b)*0.8));
  }
  .chapeu path:nth-child(4){
    stroke:rgb(calc(var(--chapeu-r)*0.7), calc(var(--chapeu-g)*0.7), calc(var(--chapeu-b)*0.7)); 
    fill:transparent;
  }
  .chapeu path:nth-child(3),.chapeu path:nth-child(5),.chapeu path:nth-child(6),.chapeu path:nth-child(7),.chapeu path:nth-child(8){
    fill:rgb(var(--chapeu-r), var(--chapeu-g), var(--chapeu-b));
  }
  .chapeu path:nth-child(9), .chapeu path:nth-child(10), 
  .chapeu path:nth-child(11), .chapeu path:nth-child(12),
  .chapeu path:nth-child(13), .chapeu path:nth-child(14){ 
    fill:rgb(calc(var(--chapeu-r)*0.6), calc(var(--chapeu-g)*0.6), calc(var(--chapeu-b)*0.6));
  }
  .barba svg{
    height: 100%;
      width: 100%;
  }
  .selecionar{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;    
  }
  .barba{position: absolute;
    box-sizing: border-box;
    display: none;
    position: absolute;
    margin-top: 45%;
    width: 100%;
    height: 80%;
  }
  .barba path{
    filter: drop-shadow(3px 3px 33px rgba(0, 0, 0, 0.5));
    fill: rgb(var(--cabelo-r), var(--cabelo-g), var(--cabelo-b));
  }
  #barba2{
    margin-top: 32%;
  }
  div.barba:nth-of-type(3){
    z-index: 10;
  }
  .roupa{
    display: none;
    position: absolute;
    box-sizing: border-box;
    z-index: 10;
    width: 80%;
    height: 100%;
  }
  .avatar {
    width: calc(var(--unit) * 597);
    height: calc(var(--unit) * 892);
    position: fixed;
    opacity: 1.5;
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);
  
  }
  
  .head {position: absolute;
    box-sizing: border-box;
    z-index: 11;
    width: 100%;
    height: calc(var(--unit) * 445);
  
  }
  
  .hair {position: absolute;
    box-sizing: border-box;
    z-index: 6;
    width: 89%;
    height: 60%;
    background-color: rgb(var(--cabelo-r), var(--cabelo-g), var(--cabelo-b));
    background-image: radial-gradient(
      ellipse at bottom,
      rgba(190, 186, 176, 0.226) 60%,
      rgba(190, 186, 176, 0) 70%
    );
    left: 6%;
    border-radius: 32% 35% 0% 0% / 63% 56% 0% 0%;
    box-shadow: calc(var(--unit) * -10) calc(var(--unit) * 5)
      calc(var(--unit) * 20) rgba(190, 186, 176, 0.658) inset;
    -webkit-clip-path: polygon(
      0% 100%,
      0% 0%,
      100% 0%,
      100% 100%,
      95% 38%,
      93% 29%,
      86% 15%,
      90% 19%,
      83% 17%,
      81% 19%,
      78% 15%,
      76% 20%,
      79% 10%,
      80% 7%,
      78% 19%,
      75% 17%,
      73% 20%,
      72% 18%,
      70% 21%,
      68% 19%,
      67% 22%,
      64% 19%,
      62% 22%,
      60% 25%,
      56% 23%,
      55% 23%,
      52% 22%,
      50% 25%,
      47% 29%,
      47% 25%,
      42% 25%,
      44% 22%,
      39% 24%,
      39% 22%,
      36% 22%,
      35% 20%,
      32% 22%,
      32% 19%,
      28% 21%,
      26% 18%,
      25% 21%,
      23% 18%,
      21% 21%,
      19% 17%,
      18% 20%,
      16% 17%,
      12% 19%,
      12% 24%,
      11% 18%,
      7% 27%,
      3% 43%,
      2% 53%,
      2% 52%,
      0% 100%
    );
    clip-path: polygon(
      0% 100%,
      0% 0%,
      100% 0%,
      100% 100%,
      95% 38%,
      93% 29%,
      86% 15%,
      90% 19%,
      83% 17%,
      81% 19%,
      78% 15%,
      76% 20%,
      79% 10%,
      80% 7%,
      78% 19%,
      75% 17%,
      73% 20%,
      72% 18%,
      70% 21%,
      68% 19%,
      67% 22%,
      64% 19%,
      62% 22%,
      60% 25%,
      56% 23%,
      55% 23%,
      52% 22%,
      50% 25%,
      47% 29%,
      47% 25%,
      42% 25%,
      44% 22%,
      39% 24%,
      39% 22%,
      36% 22%,
      35% 20%,
      32% 22%,
      32% 19%,
      28% 21%,
      26% 18%,
      25% 21%,
      23% 18%,
      21% 21%,
      19% 17%,
      18% 20%,
      16% 17%,
      12% 19%,
      12% 24%,
      11% 18%,
      7% 27%,
      3% 43%,
      2% 53%,
      2% 52%,
      0% 100%
    );
  }
  
  .face {
    position: absolute;
  box-sizing: border-box;
    z-index: 5;
    width: calc(var(--unit) * 532);
    height: 100%;
    background-color: rgb(var(--pele-r), var(--pele-g), var(--pele--b));
    background-repeat: no-repeat;
  
    background-position: bottom -10% left -15%, bottom right, top 80% left 100%,
      top 90% left, top 22% left 22%;
    background-size: 50% 50%, 50% 50%, 50% 50%, 50% 50%, 60% 50%;
    left: 6%;
    border-radius: 49% 51% 47% 53% / 30% 30% 70% 70% ;
    box-shadow: calc(var(--unit) * -1) calc(var(--unit) * -2)
        calc(var(--unit) * 3) rgba(133, 107, 69, 0.2) inset,
      calc(var(--unit) * -2) calc(var(--unit) * 2) calc(var(--unit) * 10)
        rgba(204, 204, 204, 0.8) inset,
      calc(var(--unit) * -15) calc(var(--unit) * 5) calc(var(--unit) * 20)
      rgb(calc(var(--pele-r)*0.8), calc(var(--pele-g)*0.8), calc(var(--pele--b)*0.8)) inset,
      calc(var(--unit) * -2) calc(var(--unit) * -2) calc(var(--unit) * 5)
        rgba(105, 76, 31, 0.8) inset,
      0 calc(var(--unit) * -10) calc(var(--unit) * 20) rgba(133, 107, 69, 0.7)
        inset,
      calc(var(--unit) * 1) calc(var(--unit) * 1) calc(var(--unit) * 3)
        rgba(133, 107, 69, 0.5) inset;
  }
  
  .ear {
    position: absolute;
  box-sizing: border-box;
    width: calc(var(--unit) * 50);
    height: calc(var(--unit) * 110);
    background-color: rgb(calc(var(--pele-r)*0.8), calc(var(--pele-g)*0.8), calc(var(--pele--b)*0.8));
  }
  
  .ear-left {
    position: absolute;
  box-sizing: border-box;
    transform: rotateZ(-25deg);
      top: 50%;
      left: 5.3%;
    border-radius: 60% 0% 0% 70% / 40% 0 0 60%;
  }
  
  .ear-right {
    position: absolute;
  box-sizing: border-box;
    transform: rotateZ(25deg);
      top: 50%;
      right: 2.3%;
    border-radius: 0% 60% 70% 0% / 0% 40% 60% 0%;
  }
  
  .face .eye {
    position: absolute;
  box-sizing: border-box;
    z-index: 2;
    width: calc(var(--unit) * 95);
    height: calc(var(--unit) * 100);
    background-color: #2a2c2d;
    top: 46%;
    border-radius: 50%;
  }
  
  .face .eye-left {
    position: absolute;
  box-sizing: border-box;
    background-image: radial-gradient(
      circle at top left,
      rgba(255, 255, 225, 0.2) 30%,
      rgba(255, 255, 225, 0) 60%
    );
    left: 9.5%;
    box-shadow: calc(var(--unit) * -5) calc(var(--unit) * -10)
      calc(var(--unit) * 7) rgba(255, 255, 225, 0.15) inset;
  }
  
  .face .eye-right {
    position: absolute;
  box-sizing: border-box;
    background-image: radial-gradient(
      circle at top right,
      rgba(255, 255, 225, 0.2) 30%,
      rgba(255, 255, 225, 0) 60%
    );
    right: 11.5%;
    box-shadow: calc(var(--unit) * 5) calc(var(--unit) * -10)
      calc(var(--unit) * 7) #464949 inset;
  }
  
  .face .eyebrow {
    position: absolute;
  box-sizing: border-box;
    width: calc(var(--unit) * 100);
    height: calc(var(--unit) * 100);
    border-radius: 40% 10% 0 0;
    border-top: calc(var(--unit) * 25) solid rgb(var(--cabelo-r), var(--cabelo-g), var(--cabelo-b));
  }
  
  .face .eyebrow-left {
    position: absolute;
  box-sizing: border-box;
    top: 33.5%;
    left: 7%;
    transform: rotate(20deg);
  }
  
  .face .eyebrow-right {
    position: absolute;
  box-sizing: border-box;
    top: 34.5%;
    right: 8%;
    transform: rotate(-15deg) rotateY(180deg);
  }
  
  .face .nose {
    position: absolute;
  box-sizing: border-box;
    z-index: 2;
    width: calc(var(--unit) * 43);
    height: calc(var(--unit) * 55);
    background-color: rgb(var(--pele-r), var(--pele-g), var(--pele--b));
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 88%,
        rgba(255, 255, 255, 0.1) 95%
      ),
      linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0.2) 50% 55%,
        rgba(255, 255, 255, 0) 65%
      ),
      linear-gradient(
        68deg,
        rgba(152, 120, 76, 0) 0% 55%,
        rgba(152, 120, 76, 0.35) 70%,
        rgb(var(--pele-r), var(--pele-g), var(--pele--b)) 75%
      ),
      linear-gradient(
        -70deg,
        rgb(calc(var(--pele-r)*0.8), calc(var(--pele-g)*0.8), calc(var(--pele--b)*0.8)) 0% 50%,
        rgba(152, 120, 76, 0.2) 65%,
        rgba(152, 120, 76, 0) 68%
      );
    top: 62%;
    left: 45%;
  }
  
  .face .blood {
    position: absolute;
  box-sizing: border-box;
    width: calc(var(--unit) * 12);
    height: calc(var(--unit) * 55);
    top: 69%;
    right: 47.5%;
    background: #722f27;
    border-radius: 35%;
    box-shadow: 0 calc(var(--unit) * -5) calc(var(--unit) * 2) #5c1a0a inset;
  }
  
  .avatar .body {
    position: absolute;
  box-sizing: border-box;
    width: calc(var(--unit) * 270);
    height: calc(var(--unit) * 463);
    top: 48%;
    left: 27.5%;
  }
  
  .body .neck {
    position: absolute;
  box-sizing: border-box;
    z-index: 4;
    width: calc(var(--unit) * 80);
    height: calc(var(--unit) * 38);
    background-color: rgb(var(--pele-r), var(--pele-g), var(--pele--b));
    background-image: radial-gradient(
      circle at top,
      rgba(255, 255, 255, 0.05) 12%,
      rgba(116, 86, 49, 0.5) 20% 30%
    );
    background-size: 350% 300%;
    background-position: top left 50%;
    left: 35%;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
  }
  
  .body .hospital-gown {
    position: absolute;
  box-sizing: border-box;
    width: calc(var(--unit) * 270);
    height: calc(var(--unit) * 405);
  }
  
  .hospital-gown .chest {
    position: absolute;
  box-sizing: border-box;
    z-index: 3;
    width: calc(var(--unit) * 190);
    height: calc(var(--unit) * 405);
    left: 15%;
    border-radius: 51% 49% 100% 0% / 71% 98% 2% 29% ;
    clip-path: polygon(
      0% 0%,
      8% 28%,
      11% 55%,
      9% 61%,
      6% 82%,
      0% 100%,
      33% 99%,
      68% 98%,
      96% 99%,
      100% 98%,
      93% 70%,
      91% 47%,
      91% 35%,
      92% 19%,
      98% 0%
    );
    -webkit-clip-path: polygon(
      0% 0%,
      8% 28%,
      11% 55%,
      9% 61%,
      6% 82%,
      0% 100%,
      33% 99%,
      68% 98%,
      96% 99%,
      100% 98%,
      93% 70%,
      91% 47%,
      91% 35%,
      92% 19%,
      98% 0%
    );
    background-color: #aeaea8;
    background-image: radial-gradient(
        circle at bottom right,
        rgba(133, 107, 69, 0.5) 10%,
        rgba(133, 107, 69, 0) 58%
      ),
      radial-gradient(
        circle at center left,
        rgba(133, 107, 69, 0.5) 10%,
        rgba(133, 107, 69, 0) 50%
      ),
      radial-gradient(
        circle at top,
        rgba(187, 179, 179, 0) 0% 14%,
        rgba(187, 179, 179, 0.911) 15% 15.5%,
        rgba(187, 179, 179, 0) 16%
      ),
      radial-gradient(
        circle at top,
        rgba(155, 151, 151, 1) 15%,
        rgba(155, 151, 151, 0) 16%
      ),
      var(--pattern);
    background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%, 14% 10%, 14% 10%,
      14% 10%, 14% 10%;
    background-position: top left, top left, top left, top left, top left 4%,
      top 6% left -4%, top 6% left 4%, top left -4%;
  }
  
  .hospital-gown .sleeve {
    width: calc(var(--unit) * 65);
    height: calc(var(--unit) * 138);
    top: -1.5%;
    border-radius: 30% 0 60% 10%/ 50% 0 20% 10%;
    background-color: #aeaea8;
    background-image: var(--pattern);
    background-size: 40% 25%, 40% 25%, 40% 25%, 40% 25%;
    background-position: top left 0%, top 15% left 49%, top 15% left 13%,
      top left -29%;
  }
  
  .hospital-gown .sleeve-left {
    left: 11.5%;
    transform: rotate(31deg);
  }
  
  .hospital-gown .sleeve-right {
    right: 11.5%;
    transform: rotate(-31deg) rotateY(180deg);
  }
  
  .body .arm {
    position: absolute;
  box-sizing: border-box;
    transform: rotateZ(94deg);
      right: 57.5%;
      z-index: -1;
    width: calc(var(--unit) * 175);
    height: calc(var(--unit) * 88);
    top: 23%;
  }
  
  .body .arm-right {
    position: absolute;
  box-sizing: border-box;
    transform: rotateZ(264deg);
      right: -25.4%;
  }
  
  .body .arm-right::before {
    position: absolute;
    box-sizing: border-box;
    content: "";
    width: calc(var(--unit)* 205);
    height: calc(var(--unit)* 52.8);
    right: -40px;
    background-color: rgb(var(--pele-r), var(--pele-g), var(--pele--b));
    background-image: linear-gradient(-60deg, rgb(var(--pele-r), var(--pele-g), var(--pele--b)) 25%, rgba(172, 143, 101, 0) 50%);
    transform: rotate(332deg);
    top: 10%;
    border-radius: 0 10% 55% 0;
    box-shadow: calc(var(--unit)* 5) calc(var(--unit)* -5) calc(var(--unit)* 8) rgb(calc(63*0.8), calc(105*0.8), calc(56*0.8)) inset, calc(var(--unit)* 5) calc(var(--unit)* 2) calc(var(--unit)* 8) rgb(calc(63*0.8), calc(105*0.8), calc(56*0.8)) inset;
  }
  
  .body .arm-right::after {
    position: absolute;
  box-sizing: border-box;
    content: "";
    width: calc(var(--unit) * 84);
    height: calc(var(--unit) * 70.4);
    right: 51%;
    top: 30%;
    border-radius: 63% 42% 50% 66% / 17% 25% 20% 63%;
    box-shadow: calc(var(--unit) * 1) calc(var(--unit) * -2) calc(var(--unit) * 2)
        #ac8f65 inset,
      calc(var(--unit) * 5) calc(var(--unit) * 2) calc(var(--unit) * 8) #ac8f65
        inset;
    background-color: rgb(var(--pele-r), var(--pele-g), var(--pele--b));
    background-image: linear-gradient(
        0deg,
        rgba(188, 150, 98, 0) 65%,
        rgb(calc(var(--pele-r)*0.8), calc(var(--pele-g)*0.8), calc(var(--pele--b)*0.8)) 66% 69%,
        rgba(188, 150, 98, 0) 73%
      ),
      linear-gradient(
        8deg,
        rgba(188, 150, 98, 0) 42%,
        rgb(calc(var(--pele-r)*0.8), calc(var(--pele-g)*0.8), calc(var(--pele--b)*0.8)) 43% 46%,
        rgba(188, 150, 98, 0) 50%
      ),
      linear-gradient(
        8deg,
        rgba(188, 150, 98, 0) 20%,
        rgb(calc(var(--pele-r)*0.8), calc(var(--pele-g)*0.8), calc(var(--pele--b)*0.8)) 21% 23%,
        rgba(188, 150, 98, 0) 26%
      );
    background-size: 55% 100%, 50% 100%, 45% 100%;
    background-position: top left;
    background-repeat: no-repeat;
  }
  
  .body .arm-left::before {
    position: absolute;
  box-sizing: border-box;
    content: "";
    width: 100%;
    height: 50%;
    left: -40px;    
    background-color: rgb(var(--pele-r), var(--pele-g), var(--pele--b));
    background-image: linear-gradient(
      -60deg,
      rgb(calc(var(--pele-r)*0.8), calc(var(--pele-g)*0.8), calc(var(--pele--b)*0.8)) 25%,
      rgba(172, 143, 101, 0) 50%
    );
    transform: rotate(15deg) rotateY(180deg);
    top: 17%;
    border-radius: 0 10% 55% 0;
    box-shadow: calc(var(--unit) * 5) calc(var(--unit) * -5) calc(var(--unit) * 8)
    rgb(calc(var(--pele-r)*0.8), calc(var(--pele-g)*0.8), calc(var(--pele--b)*0.8)) inset,
      calc(var(--unit) * 5) calc(var(--unit) * 2) calc(var(--unit) * 8) rgb(calc(var(--pele-r)*0.8), calc(var(--pele-g)*0.8), calc(var(--pele--b)*0.8))
        inset;
  }
  
  .body .arm-left::after {
    position: absolute;
  box-sizing: border-box;
    content: "";
    width: 48%;
    height: 80%;
    left: 51%;
    background-color: rgb(var(--pele-r), var(--pele-g), var(--pele--b));
    top: 20%;
    border-radius: 40% 43% 50% 66% / 31% 55% 35% 63%;
    transform: rotateY(180deg);
    box-shadow: calc(var(--unit) * 1) calc(var(--unit) * -2) calc(var(--unit) * 3)
    rgb(calc(var(--pele-r)*0.8), calc(var(--pele-g)*0.8), calc(var(--pele--b)*0.8)) inset,
      calc(var(--unit) * 5) calc(var(--unit) * 2) calc(var(--unit) * 8) rgb(calc(var(--pele-r)*0.8), calc(var(--pele-g)*0.8), calc(var(--pele--b)*0.8))
        inset;
  }
  
  .body .leg {
    position: absolute;
  box-sizing: border-box;
    z-index: 2;
    width: calc(var(--unit) * 64);
    height: calc(var(--unit) * 155);
    top: 54%;
    -webkit-clip-path: polygon(
      0% 0%,
      5% 35%,
      7% 62%,
      9% 74%,
      12% 85%,
      8% 100%,
      91% 100%,
      93% 79%,
      99% 56%,
      100% 34%,
      100% 0%
    );
    clip-path: polygon(
      0% 0%,
      5% 35%,
      7% 62%,
      9% 74%,
      12% 85%,
      8% 100%,
      91% 100%,
      93% 79%,
      99% 56%,
      100% 34%,
      100% 0%
    );
    background-color: rgb(var(--pele-r), var(--pele-g), var(--pele--b));
    box-shadow: calc(var(--unit) * 5) calc(var(--unit) * 5) calc(var(--unit) * 10)
    rgb(calc(var(--pele-r)*0.3), calc(var(--pele-g)*0.3), calc(var(--pele--b)*0.3)) inset,
      calc(var(--unit) * -10) calc(var(--unit) * 5) calc(var(--unit) * 15)
      rgb(calc(var(--pele-r)*0.3), calc(var(--pele-g)*0.3), calc(var(--pele--b)*0.3)) inset;
    background-image: radial-gradient(
      ellipse,
      rgba(243, 236, 227, 0.1) 50%,
      rgba(243, 236, 227, 0) 5%
    );
    background-size: 200% 50%;
    background-repeat: no-repeat;
    background-position: bottom -80% left 50%;
  }
  
  .body .leg-left {
    position: absolute;
  box-sizing: border-box;
    left: 23%;
  }
  
  .body .leg-right {
    position: absolute;
  box-sizing: border-box;
    right: 22%;
    transform: rotateY(180deg);
  }
  
  .body .foot {
    position: absolute;
  box-sizing: border-box;
    width: calc(var(--unit) * 125);
    height: calc(var(--unit) * 60);
    top: 87%;
    border-radius: 100% 0 13% 83% / 60% 0 80% 40%;
    box-shadow: calc(var(--unit) * 1) calc(var(--unit) * 1) calc(var(--unit) * 3)
    rgb(calc(var(--pele-r)*0.3), calc(var(--pele-g)*0.3), calc(var(--pele--b)*0.3)) inset,
      calc(var(--unit) * -1) calc(var(--unit) * 1) calc(var(--unit) * 3)
      rgb(calc(var(--pele-r)*0.3), calc(var(--pele-g)*0.3), calc(var(--pele--b)*0.3)) inset;
    background-color: rgb(var(--pele-r), var(--pele-g), var(--pele--b));
    background-image: linear-gradient(
        -31deg,
        rgba(188, 150, 98, 0) 20%,
        rgb(calc(var(--pele-r)*0.3), calc(var(--pele-g)*0.3), calc(var(--pele--b)*0.3)) 21%,
        rgba(188, 150, 98, 0) 25%
      ),
      linear-gradient(
        -30deg,
        rgba(188, 150, 98, 0) 31%,
        rgb(calc(var(--pele-r)*0.4), calc(var(--pele-g)*0.4), calc(var(--pele--b)*0.4)) 32%,
        rgba(188, 150, 98, 0) 37%
      ),
      linear-gradient(
        -20deg,
        rgba(188, 150, 98, 0) 45%,
        rgb(calc(var(--pele-r)*0.3), calc(var(--pele-g)*0.3), calc(var(--pele--b)*0.3)) 46%,
        rgba(188, 150, 98, 0) 50%
      ),
      linear-gradient(
        -20deg,
        rgba(188, 150, 98, 0) 55%,
        rgb(calc(var(--pele-r)*0.3), calc(var(--pele-g)*0.3), calc(var(--pele--b)*0.3)) 56%,
        rgba(188, 150, 98, 0) 60%
      ),
      radial-gradient(
        circle at bottom left,
        rgb(calc(var(--pele-r)*0.3), calc(var(--pele-g)*0.3), calc(var(--pele--b)*0.3)) 25%,
        rgba(235, 221, 204, 0) 50%
      );
    background-repeat: no-repeat;
    background-position: bottom left, bottom left, bottom left, bottom left,
      top left;
    background-size: 20% 100%, 18% 100%, 17% 100%, 15% 100%, 100% 100%;
  }
  
  .body .foot-left {
    position: absolute;
  box-sizing: border-box;
    left: 2%;
    transform: rotate(-18deg);
  }
  
  .body .foot-right {
    position: absolute;
  box-sizing: border-box;
    right: 0.5%;
    transform: rotate(18deg) rotateY(180deg);
  }
  
  .face .eyelashes {
    position: absolute;
  box-sizing: border-box;
    width: calc(var(--unit) * 30);
    height: calc(var(--unit) * 45);
    top: 46.5%;
    background-image: radial-gradient(
        rgba(198, 171, 139, 1) 50%,
        rgba(198, 171, 139, 0) 65%
      ),
      radial-gradient(rgba(70, 73, 73, 1) 50%, rgba(70, 73, 73, 0) 65%);
    background-position: top -16% left, top left;
    background-size: 100% 35%, 110% 35%;
    background-repeat: repeat-y;
  }
  
  .face .eyelashes-left {
    position: absolute;
  box-sizing: border-box;
    left: 7.5%;
    transform: rotate(25deg);
  }
  
  .face .eyelashes-right {
    position: absolute;
  box-sizing: border-box;
    z-index: -1;
    right: 9.5%;
    transform: rotate(-25deg) rotateY(180deg);
  }

  
